.homePage{
    position: relative;
    width: auto;
    margin: auto;
}

/*============= Banmer =============*/
.box-banner{
    position: static;
    width: 100%;
}

.image-banner{
    background-image: url('../images/HomePage/Banner/Banner2024.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 36rem;

}
 
.text-btn-banner .text-header{
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: bolder;
    font-size:2rem ;
    margin-bottom: 1rem; 
}

.text-btn-banner p{
    font-size: 1.5rem;
}

.box-banner .btn {
    margin-top: 1rem;
    background: #dfdfdf;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.box-banner .btn:hover a {
    color: #ffffff;

}

.box-banner .btn:hover {
    background: #000000;

}

.box-banner .btn a {
    color: #000000;
    text-decoration: none;

}

.text-btn-banner {
    text-align: center;
    width: 27rem;
    float: right;
    line-height: 2.5rem;
    margin-top: -25rem;
    margin-right: 6rem;
}

/*========== end banner ============*/

/*========== Contents include: Products and Aside (email, feedback, latest news)*/
.contents {
    display: flex;
    height: max-content;
    position: relative;

}

/*==============Products===========*/
.products{
    position: relative;
    width: 60.41%;
    margin-left: 5%;
    height: max-content;
}

.products h2 {
    font-weight:bold;
    font-size: 2.2rem;

}

.products #text {
   color: #777777;
   padding: 0 0.5rem;
}

.menu_buttons {
    padding: 1rem 0 1.5rem 0;
    display: flex;
}

.menu_buttons .btn{
    margin-right: 0.2rem;
    background-color: #DDDEE2;
    color: #000000;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
}

.menu_buttons .btn:hover{
    opacity: 0.5;
}

.menu_buttons .btn.active {
    transition: s;
    color: #ffffff;
    background: #000000;
}

.listPage {
    text-align: center;
    margin-top: 1rem;

}

.listPage li {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

.listPage li:hover {
    background-color: #eeeeee;

}

.listPage .active {
    background-attachment: #eeeeee;
}

.introducing {
    width: 100%;

    margin: 2.8rem 0 5rem;
}

.introduce .box{
    line-height: 1.5rem;
    width: 100%;
    padding: 2rem 0.5rem 1rem 0;
}

.introduce .box h2{
    font-weight: bold;
    font-size: 2.2rem;
}

.introduce .box p{
    padding:  0 0 0 2rem;
    color: #000000;
    word-spacing: 0.4rem ;
}

.introduce .image{
    border: 1px solid #dfdfdf;
    width: 100%;
    height: 38rem;
    box-shadow: 0 1px 2px 0 rgba(241, 241, 241, 0.2), 0 1.5px 5px 0 rgba(241, 241, 241, 0.19);
}

.introduce .image img{
    height: 35rem;
    width: 100%;
}

/*===========End Product ==========*/

/*=======Aside=========*/

aside{
    position: relative;
    width: 25%;
    margin: 4.5rem auto;
    height: max-content;
}

figcaption{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin-top: 0.5rem;
}

aside .receive-email{
    padding: 3rem 2rem;
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 4rem;
}

aside .receive-email:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0. 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.receive-email title{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.receive-email .text{
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.receive-email input{
    width: max-content;
    text-align: center;
    padding: 0.8rem 2rem;

}

.receive-email button{
    padding: 0.5rem 2rem;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
}

.receive-email button:hover{
    opacity: 1;
}

aside .testimonials{
    width: 88%;
    z-index: 1;
    margin: auto;
}

.testimonials .row-1{
    position:  relative;
    padding: 5rem 0 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.testimonials .row-1 .btns{
    display: inline-flex;
    cursor: pointer;
}

.testimonials .row-1 .btn{
    opacity: 0.5;
    padding: 0.2rem 0.8rem;
    border: 1px solid #dfdfdf;
}

.testimonials .row-1 .btn:hover{
    opacity: 1;
}

.testimonials .contents{
    position: relative;
    line-height: 1.5rem;
    text-align: center;
    display: block;
}

.testimonials .contents .feedback{
    display: none;
    padding: 1rem;

}

.testimonials .contents .feedback:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}

.testimonials .contents img{
    width: 30%;
    border-radius: 50%;
}

.latest-new{
    position: relative;
    width: 88%;
    margin: 6rem auto;
}

.latest-new img{
    width: 100%;
    height: 12rem;

}

